//Primary
$cap-blue: rgb(0,154,191); //#009bbf
$cap-lightgray: rgb(195,198,200); //#c3c7ca
$cap-red: rgb(178,30,40); //#b41f28
$cap-black: rgb(0,0,0); //#000000

//Secondary
$cap-orange: rgb(211,94,19); //#d15f27
$cap-darkblue: rgb(0,105,143); //#006a8f
$cap-lightgray: rgb(92,102,112); //#5d6770
$cap-pink: rgb(230,56,136); //#e63888
$cap-purple: rgb(230,56,136); //#592c82
$cap-green: rgb(64,135,64); //#408740

