{{define "main"}}
    <div class="reveal">
        <div class="slides">
            <!-- Opening page -->
            <section>
            {{$authorbyline := .Site.Params.authorbyline}}
                <h1>{{.Site.Title | markdownify}}</h1>
                {{with .Site.Params.presentationsubtitle}}
                <h2 class="presentation-subtitle">{{.}}</h2>
                {{end}}
                {{ with .Site.Params.siteurl }}
                <p><a href="{{.}}"><code>{{.}}</code></a></p>
                {{ end }}
                <ol class="homepage">
                {{range $ind, $sec := .Site.Sections}}
                    <li>{{with $.Site.GetPage "section" $ind}}{{.Title | markdownify}}{{end}}</li>
                {{end}}
                </ol>
                {{with .Site.Params.presentationdate}}
                    <br><br><time>{{dateFormat "January 2, 2006" . }}</time><span class="author-byline">{{$authorbyline}}</span>
                {{end}}
            </section>
            <!-- previously just... -->
            <!-- range .Site.Pages.GroupBy "Section"-->
            {{ range (where (where .Site.Pages "Kind" "!=" "home") "Kind" "!=" "taxonomyTerm").GroupBy "Section"}}
                <section>
                    {{ range .Pages.ByWeight }}
                        {{- if eq .Kind "section" -}}
                        <section>
                            <h2 class="objective-title">{{.Title | markdownify }}</h2>
                            {{ with .Params.subtitle }}
                            <h3 class="objective-subtitle">{{ . | markdownify }}</h3>
                            {{ end }}
                        </section>
                        {{else}}
                        <section>
                            <h2>{{.Title | markdownify}}</h2>
                            {{with .Params.subtitle}}<h3 class="fragment slide-subtitle">{{. | markdownify}}</h3>{{end}}
                            <div class="content">
                            {{.Content}}
                            </div>
                        </section>
                        {{ end }}
                    {{ end }}
                </section>
            {{ end }}
        </div>
    </div>
{{end}}