@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'partials/mediaqueries';
@import 'partials/font-face';
@import 'partials/league-gothic'; //code block font face only
@import 'partials/solarized';
@import "partials/mixins";
@import "partials/theme";
section.has-light-background {
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;
  }
}

h1,h2,h3 {
  font-weight:bold;
}

h2.slide-title {
  font-weight:bold;
}

div.slides {
  z-index: 9999;
}

div.slides section {
  padding: .25em;
  @include retina {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

div.slide section.nobg {
  background-color: rgba(255, 255, 255, 0.0);
}

div.cap-logo {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-image: url(/images/cap-logo-light-opacity.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

a.logo-homelink {
  padding:.25em;
  display: block;
  min-width: 160px;
  max-height: 200px;
  max-width: 200px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 99999999;
  cursor: pointer;
  background-color:$backgroundColor;
}

span.subtitle {
  border: 2px solid $h1Color;
  padding: .25em .75em;
}

.blinking {
  animation: blinker 1400ms linear infinite;
  color: $cap-red;
}

@keyframes blinker {
  50% {
    opacity: 0.0;
  }
}

.reveal section a {
  color: $linkColor;
  font-weight: 600;
}

.reveal section time {
  background-color: $cap-blue;
  color: $dateAndTimeColor;
  display: block;
  clear: both;
  width: auto;
  max-width: 20%;
  margin-right: auto;
  margin-left: auto;
  margin-top:-1em;
  margin-bottom:.25em;
  padding: .25em;
  text-transform: $dateAndTimeTextTransform;
  font-size: $dateAndTimeFontSize;
  margin-bottom: .5em!important;
}

.reveal section.full-gif {
  background-color: rgba(0, 0, 0, 0);
  background-color: transparent;
}

.reveal section {
  small.emphasis,
  div.emphasis,
  li.emphasis,
  p.emphasis,
  h2.emphasis {
    color: $cap-red;
    font-weight: bold;
  }
  small.emphasis {
    margin-top: 1.5em;
    font-size: .8em;
    width: 100%;
    display: block;
    clear: both;
  }
  li a, a {
    font-weight:600;
  }
}

small {
  display: block;
  width: 100%;
  clear: both;
}

.important {
  color: $cap-red!important;
  background-color: white!important;
}

.reveal section .positive {
  color: $cap-blue;
}

.note {
  color: white;
  background-color: $cap-blue;
}

.reveal section small {
  color: $cap-blue;
  font-weight: bold;
  border: 2px solid $cap-blue;
  padding: .25em .5em;
}

.reveal section {
  blockquote {
    text-align: left;
    color: $cap-blue;
    p {
      font-weight: bold!important;
    }
    > cite {
      display: block;
      clear: both;
      width: 100%;
      text-align: right;
      font-style: normal;
    }
  }
}

.reveal section {
  strong.bad {
    color: $cap-red;
  }
  strong.good {
    color: $cap-blue;
  }
  li > em {
    color:$cap-blue;
    font-weight:600;
  }
  strong > em {
    color: $cap-red;
  }
}

h2.objective-title {
  font-size: 2.1em;
  color: $cap-blue;
  font-weight: bold;
  border-bottom: 2px solid $cap-blue;
  text-align: center;
  ol,
  ul {
    display: block;
    width: 100%;
    text-align: center!important;
  }
}

h3.objective-subtitle {
  font-size: 1.3em;
  font-weight: normal;
  color: lighten($baseFontColor,20%);
  // text-transform: uppercase;
  margin-left: .5em;
  margin-right: .5em;
}

[data-bgcolor="none"],
[data-background-image] {
  background-color: transparent!important;
}

span.footnote {
  color: $cap-red;
  font-weight: 700!important;
}

h3.slide-subtitle {
  font-size: 1.2em;
  color: lighten(#333333, 15%);
  font-style: italic;
}

.content {
  ul,
  ol {
    img {
      max-height: 200px;
    }
  }
}
//homepage
h2.presentation-subtitle {
  font-size:1.2em;
  color:$cap-blue-dark;
  text-transform:uppercase;
  font-weight:bold;
}
a.homepage-link {
  font-family:courier,monospace!important;
}

.additional-resources {
  font-size:20px!important;
  text-align:left;
  a {
    display:block;
    font-weight:bold;
    border-bottom:3px solid $cap-red;
    list-style-image:disc;
    margin-bottom:.75em;
  }
}

span.author-byline {
  border-bottom:2px solid $baseFontColor;
  font-size:.9em;
  text-transform:uppercase;
}
