//https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
// Tablet
$M:668px;
// Desktop
$L:1025px;
// XL Screens
$XL:1200px;

$font: 'akkurat';
$include-font-two: false;
$font-two: 'akkurat';

//Primary Colors
$cap-blue: rgb(0, 154, 191); //#009bbf
$cap-blue-dark: rgb(0, 105, 143); //#006072
$cap-gray: rgb(195, 198, 200); //#c3c7ca
$cap-gray-dark: rgb(92,102,112); //#5d6770
$cap-gray-light: $cap-gray;
$cap-red: rgb(178, 30, 40); //#b41f28
$cap-black: rgb(0, 0, 0); //#000000
$cap-white: rgb(255,255,255); //#ffffff

//Secondary Colors
$cap-orange: rgb(211, 94, 19); //#de8d28
$cap-green: rgb(64, 135, 64); //#44a448
$cap-purple: rgb(92, 44, 129); //#592c82
$dark-gray: $cap-gray-dark;

// Background of the presentation
$backgroundColor: white;

// Primary/body text
$mainFont: $font, sans-serif;
$mainFontSize: 36px;
$baseFontColor: #333333;
$mainColor: $baseFontColor;


// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: $font, 'helvetica neue',helvetica,sans-serif;

$headingColor: $baseFontColor;

$h1Color:$baseFontColor;
$h2Color:$baseFontColor;
$h3Color:$baseFontColor;
$h4Color:$baseFontColor;
$h5Color:$baseFontColor;
$h6Color:$baseFontColor;

$h1FontFamily:$headingFont;
$h2FontFamily:$headingFont;
$h3FontFamily:$headingFont;
$h4FontFamily:$headingFont;
$h5FontFamily:$headingFont;
$h6FontFamily:$headingFont;

$h1FontWeight:400;
$h2FontWeight:400;
$h3FontWeight:400;
$h4FontWeight:400;
$h5FontWeight:400;
$h6FontWeight:400;

$h1HeadingTransform:none;
$h2HeadingTransform:none;
$h3HeadingTransform:none;
$h4HeadingTransform:none;
$h5HeadingTransform:none;
$h6HeadingTransform:none;

$paragraphColor:$mainColor;
$blinkingTextColor:red;

$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: normal;
$listFontColor: inherit;
$dateAndTimeColor: $cap-white;
$dateAndTimeTextTransform: uppercase;
$dateAndTimeFontSize: .6em;
$bodyFontWeight:200;
$h1BorderWidth:4px;
$h1BorderColor: $cap-black;
$cap-logo-fill-color:$cap-blue;

$heading1Size: 2.3em;
$heading2Size: 2em;
$heading3Size: 1.55em;
$heading4Size: 1.2em;


// Links and actions (ie, navigation arrows, progress bar bottom)
$linkColor: $cap-red;
$linkColorHover: lighten( $linkColor, 20% );
$navArrowsColor: $cap-red;
$navArrowsColorHover: lighten( $navArrowsColor, 20%);
$navProgressBarColor: $linkColor;

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}